/* подключаем шрифты к странице директивой @font-face,
разберёмся в следующем спринте */
@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/PTMono-Regular.woff);
  font-family: 'PTMono';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/Lora-Regular.woff);
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/PlayfairDisplay-Bold.woff);
  font-family: 'Playfair Display';
  font-style: bold;
  font-weight: 700;
}
